Source: dlpodget
Section: net
Priority: optional
Maintainer: Duncan Ross Palmer <2e0eol@gmail.com>
Build-Depends: debhelper (>= 13), lynx
Build-Depends-Indep: libwww-perl,
 libdata-uuid-libuuid-perl,
 libcache-perl,
 libcache-cache-perl,
 libcache-perl,
 libxml-feed-perl,
 libio-interactive-perl,
 libxml-feed-perl,
 libdevel-cover-perl,
 libconfig-inifiles-perl,
 libdbd-sqlite3-perl,
 libpod-coverage-perl,
 libtest-output-perl,
 libtest-exception-perl,
 liblog-log4perl-perl,
 libmoose-perl,
 libmoosex-singleton-perl,
 libreadonly-perl,
 libtest-deep-perl,
 libtest-mockmodule-perl,
 libwww-curl-perl,
 libxml-feed-perl,
 perl-modules,
 texlive-latex-base,
 texlive-latex-extra
Standards-Version: 4.5.1
Homepage: http://www.daybologic.co.uk/

Package: dlpodget
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdata-uuid-libuuid-perl,
 libcache-perl,
 libcache-cache-perl,
 libcache-perl,
 libwww-perl,
 libxml-feed-perl,
 libconfig-inifiles-perl,
 liburi-perl,
 libio-interactive-perl,
 libdbd-sqlite3-perl,
 liblog-log4perl-perl,
 libmoose-perl,
 libmoosex-singleton-perl,
 libreadonly-perl,
 libxml-feed-perl
Description: Podcast downloader and management system
 Daybo Logic's podcast system keeps track of new podcasts posted on an RSS
 feed and downloads whatever you do not yet have, checking file lengths
 and caching XML.  It is user-configurable with a trivial config file.
